{{ 'homepage-hero.css' | asset_url | stylesheet_tag }}

<style>
    .homepage-hero--image {
        width: 100%;
        background-image: url("{{section.settings.image_mobile | image_url }}");
        background-size: cover;
    }
    @media only screen and (min-width: 768px) {
    /* For desktop: */
    .homepage-hero--image {
        width: 100%;
        background-image: url("{{section.settings.image | image_url }}");
        background-size: cover;
    }
}
</style>
<div class="homepage-hero--container">
    <div class="homepage-hero--image">
        <div class="homepage-hero--content">
            <h2 class="homepage-hero--h2">{{ section.settings.h2 }}</h2>
            <p class="homepage-hero--p">{{ section.settings.p }}</p>
            <div class="homepage-hero--btn-div">
                <a class="btn" href="{{ section.settings.btn-url-one }}">{{ section.settings.btn-text-one }}</a>
                <a class="btn" href="{{ section.settings.btn-url-two }}">{{ section.settings.btn-text-two }}</a>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Homepage Hero Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "h2",
      "label": "Heading text",
      "default": "Heading Text"
    },
    {
      "type": "text",
      "id": "p",
      "label": "Paragraph",
      "default": "Add paragraph text here"
    },
    {
      "type": "text",
      "id": "btn-text-one",
      "label": "Button 1 Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "btn-url-one",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "btn-text-two",
      "label": "Button 2 Text",
      "default": "Button Text"
    },
    {
      "type": "url",
      "id": "btn-url-two",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Homepage Hero Banner"
    }
  ]
}
{% endschema %}
